html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "ZX Spectrum";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: pixelated;
  font-size: 2px;
  color: #000;
  background: #bbb;
}
body {
  margin: 0;
  padding: 24rem 24rem 32rem;
  position: relative;
  font-size: 8rem;
  min-height: 100%;
}
* {
  box-sizing: border-box;
}
.scanlines {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0,0,0,0.25) 1px, rgba(0,0,0,0.25) 2px);
  background-size: 100% 2px;
}
.title {
  position: relative;
  top: -8rem;
  left: -8rem;
  margin: 0 0 8rem;
  padding: 8rem;
  height: 48rem;
  font-family: "Retrotype";
  font-size: 32rem;
  background: #00f;
  font-weight: normal;
  color: #fff;
  box-shadow: 1rem 1rem 0 #00b,2rem 2rem 0 #00b,3rem 3rem 0 #00b,4rem 4rem 0 #00b,5rem 5rem 0 #00b,6rem 6rem 0 #00b,7rem 7rem 0 #00b,8rem 8rem 0 #00b;
  text-align: center;
}
.menu {
  margin-bottom: 8rem;
}
.menu .item {
  display: inline-block;
  padding: 8rem;
  text-transform: uppercase;
  background: #00b;
  color: #bbb;
  cursor: pointer;
}
.menu .item:hover {
  background: #00f;
  color: #fff;
}
.menu .open .file-input {
  display: none;
}
.image-analysis {
  margin-bottom: 8rem;
}
.image-analysis .image-area {
  position: relative;
}
.image-analysis .image-area .current-block {
  position: absolute;
  display: none;
  width: 8rem;
  height: 8rem;
  background: #ff0;
}
.image-analysis .image-area .error-blocks .error-block {
  width: 8rem;
  height: 8rem;
  position: absolute;
  background: #f00;
  animation: error-blink 1s step-start 0s infinite;
}
.image-analysis .histogram {
  display: none;
  margin-top: 8rem;
  border: 1rem solid #000;
  border-top: none;
  width: 256rem;
  height: 16rem;
}
.image-analysis .status {
  margin-top: 8rem;
}
.downloads {
  display: none;
}
.downloads .screen-area {
  margin-bottom: 8rem;
  position: relative;
}
.downloads .screen-area .screen {
  width: 256rem;
  height: 192rem;
}
.downloads .screen-area .screen-cursor {
  position: absolute;
  display: none;
  width: 8rem;
  height: 8rem;
  background: #000;
}
.downloads .conversion-options {
  display: inline-block;
  vertical-align: top;
}
.downloads .conversion-options p {
  margin: 8rem 0 0;
}
.downloads .conversion-options p:first-child {
  margin-top: 0;
}
.downloads .conversion-options .option {
  padding: 0 8rem;
  cursor: pointer;
}
.downloads .conversion-options .option:hover {
  background: #fff;
}
.downloads .conversion-options .option.selected {
  cursor: default;
  background: #00b;
  color: #bbb;
}
.downloads .menu {
  display: none;
}
.smallprint {
  position: absolute;
  left: 24rem;
  bottom: 16rem;
}
.smallprint .copyleft {
  display: inline-block;
  transform: scale(-1, 1);
}
@-moz-keyframes error-blink {
  50% {
    background: #fff;
  }
}
@-webkit-keyframes error-blink {
  50% {
    background: #fff;
  }
}
@-o-keyframes error-blink {
  50% {
    background: #fff;
  }
}
@keyframes error-blink {
  50% {
    background: #fff;
  }
}
